<app-layout>
  <div class="container">
    <div class="row py-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div class="col-6">
        <h3>Contact Us</h3>

        <p><b>Address: </b>BP: 765, Av. Ibn Sina, Agdal - Rabat</p>
        <p><b>Email: </b><a href="mailto:contact@emi.ac.ma" class="contact-link">contactemi.ac.ma</a></p>
        <p><b>Phone Number: </b><a href="tel:+212537778853" class="contact-link">+212 537 77 88 53</a></p>
      </div>
      <div class="col-6">
        <h3>Location</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d237634.2355180603!2d-6.8566117!3d34.0201031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1b78b28f6b88e3%3A0x2178c364246de2e!2sBP%3A%20765%2C%20Av.%20Ibn%20Sina%2C%20Agdal%20-%20Rabat%2C%20Morocco!5e0!3m2!1sen!2sus!4v1683007980438!5m2!1sen!2sus"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</app-layout>
