
.gradient-custom-3 {
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
}


.gradient-custom-4 {
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  transition: background 2s, color 2s;
}

.gradient-custom-4:hover {
  background: rgb(59, 240, 225);
  color: white;
}


.form-outline {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control {
  border-radius: 0.75rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-label {
  position: absolute;
  top: -0.75rem;
  left: 1rem;
  font-size: 1rem;
  color: #6c757d;
  font-weight: bold;
}

input.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(132, 250, 176, 0.25);
  border-color: #84fab0;
}


.card {
  border-radius: 15px;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 2rem;
}


button[type="submit"] {
  border-radius: 50px;
  padding: 0.75rem 2rem;
  background-color: #5bc0de;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
  background-color: #4ba7c6;
}


.alert {
  border-radius: 5px;
  padding: 0.75rem;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}
