<app-layout>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div *ngIf="availableRooms.length > 0; else noRooms">
        <h3>Available Rooms</h3>
        <ul class="list-group">
          <li *ngFor="let room of availableRooms" class="list-group-item my-4">
            <div class="row">
              <div class="col-6">
                <p>Hotel Name: {{ room[1] }}</p>
                <p>Stars: {{ room[2] }}</p>
                <p>Address: {{ room[3] }}, {{ room[4] }}, {{ room[5] }}</p>
                <button class="btn btn-success" (click)="getFeedbackList(room[6])">View Feedback</button>
              </div>
              <div class="col-6">
                <h4>Room Type: {{ room[0].roomType }}</h4>
                <p>Capacity: {{ room[0].capacity }}</p>
                <p>Price: {{ room[0].price | currency:'MAD' }}</p>
                <p>Status: {{ room[0].roomStatus }}</p>

                <button class="btn btn-outline-success" (click)="createReservation(room[0].id)">
                  Create Reservation
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <ng-template #noRooms>
        <p>No available rooms for these dates.</p>
      </ng-template>
    </div>
    <div class="col-2"></div>
  </div>
</app-layout>
