<app-layout>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="pb-3">Are You Sure You Want to Create a Reservation?</h4>
        <p><strong>Entrance Date:</strong> {{ enteranceDay }}</p>
        <p><strong>Release Date:</strong> {{ releaseDay }}</p>
        <p>{{ roomType }}</p>
        <p><strong>Location:</strong> {{ location }}</p>
        <button class="btn btn-outline-success" (click)="createReservation()">Create Reservation</button>
      </div>
    </div>
  </div>
</app-layout>
