<app-layout>
  <div class="profile-container">
    <div class="row">
      <div class="col-6">
        <h2>My Profile</h2>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div *ngIf="user">
            <p><strong>First Name:</strong> {{user.name}}</p>
            <p><strong>Last Name:</strong> {{user.surname}}</p>
            <p><strong>Identification Number:</strong> {{user.identificationNumber}}</p>
            <div class="mb-3">
              <label for="phoneNumber" class="form-label"><strong>Phone Number:</strong></label>
              <input type="number" id="phoneNumber" formControlName="phoneNumber"
                     class="form-control w-50">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label"><strong>Email:</strong></label>
              <input type="email" id="email" formControlName="email" class="form-control w-50">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label"><strong>Password:</strong></label>
              <input type="password" id="password" formControlName="password" class="form-control w-50"
                     placeholder="Please enter your password or new password!">
            </div>
            <p><strong>User Role:</strong> {{user.role}}</p>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
          <button type="button" class="btn btn-success mx-3" (click)="send()">Add Address</button>
        </form>
        <div *ngIf="message" class="alert alert-success mt-3">{{ message }}</div> <!-- Display the message -->
      </div>
      <div class="col-6">
        <h3>User Addresses</h3>
        <div class="row">
          <div *ngFor="let address of user.userAddresses; let i = index" class="col-md-6 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Address {{ i + 1 }}</h5>
                <p class="card-text"><strong>City:</strong> {{ address.district.city.name }}</p>
                <p class="card-text"><strong>District:</strong> {{ address.district.name }}</p>
                <p class="card-text"><strong>Address Details:</strong> {{ address.addressText }}</p>
                <button type="button" class="btn btn-success"
                        (click)="onUpdate(address.id)">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>

<div class="container">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6"></div>
  </div>
</div>
