<div class="container">
  <h3 class="text-primary">Create Support Request</h3>
  <form [formGroup]="supportForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Title</label>
      <input id="title" formControlName="title" type="text" class="form-control">
      <div *ngIf=" supportForm.get('title')?.invalid && supportForm.get('title')?.touched">
        <div *ngIf="supportForm.get('title')?.errors?.['required']">Title is required.</div>
        <div *ngIf="supportForm.get('title')?.errors?.['minlength']">Title must be at least 5 characters.</div>
        <div *ngIf="supportForm.get('title')?.errors?.['maxlength']">Title can be up to 50 characters.</div>
      </div>
    </div>

    <div>
      <label for="text">Text</label>
      <textarea id="text" formControlName="text" class="form-control"></textarea>
      <div *ngIf="supportForm.get('text')?.invalid && supportForm.get('text')?.touched">
        <div *ngIf="supportForm.get('text')?.errors?.['required']">Text is required.</div>
        <div *ngIf="supportForm.get('text')?.errors?.['minlength']">Text must be at least 10 characters.</div>
        <div *ngIf="supportForm.get('text')?.errors?.['maxlength']">Text can be up to 300 characters.</div>
      </div>
    </div>

    <button class="btn btn-primary my-3" type="submit" [disabled]="supportForm.invalid">Submit</button>
  </form>
  <div *ngIf="message" class="alert alert-success mt-3">{{ message }}</div> <!-- Display the message -->
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
</div>
